.content {
    display: grid;
    grid-template-columns: 60% 40%;
    /* Une ligne aura 11.4rem et le reste va prendre 1 fraction de ce qu'il reste */
    grid-template-rows: 11.4rem 1fr;

    /* Définit l'aire */
    grid-template-areas: 
    'header header'
    'left right'
}

header {
    grid-area: header;
}

#bg {
    grid-area: left;
    background: url('https://s3.us-west-2.amazonaws.com/secure.notion-static.com/e556cbcc-273c-49c1-b000-9b8eace06903/home-bg-img.svg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAT73L2G45O3KS52Y5%2F20210622%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20210622T082528Z&X-Amz-Expires=86400&X-Amz-Signature=ca242982ee19c92243dbfa06321b9050660e2e12e7239b77e6648280691b360f&X-Amz-SignedHeaders=host&response-content-disposition=filename%20%3D%22home-bg-img.svg%22') no-repeat top/contain;
    background-position-x: -10rem;
}

main {
    grid-area: right;
    display: flex;
    align-items: center;
    margin-top: -12rem;
}

main .container {
    /* La fonction min da prioridade pro tamanho minimo, ele so vai pegar 100% se a tela for muito pequena e o 36,3% ultrapassar o taamanho da tela*/
    width: min(36.3rem, 100%);
}

main h2 {
    font-family: 'Poppins', sans-serif;
    color: var(--black);
    font-size: clamp(20px, 5vw, 2.8rem);
    margin-bottom: 2.4rem;
}

input {
    border: .2rem solid var(--grey-blue);
    padding: 0 1.6rem;
}

input, button, .button {
    width: 100%;
    margin-bottom: 1.8rem;
}

/* Separator line */

.separator {
    display: flex;
    align-items: center;
    margin: 4rem 0;
}

.separator div:nth-child(2) {
    color: var(--grey-blue);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding: 0 1.35rem;
    line-height: 0;
}

/* nth-child : qual filho de uma div a gente quer usar */
.separator div:nth-child(1), 
.separator div:nth-child(3) {
    background: var(--grey-blue);
    width: 100%;
    height: 1px;
}

/* Create balls */

.ball {
    width: 21.2rem;
    height: 21.2rem;
    background: var(--blue);
    clip-path: circle();
    /* fixed fica em cima de tudo */
    position: fixed;
}

.ball.top {
    top: -46rem;
    width: 63.3rem;
    right: -35rem;
    height: 63.3rem;
}

.ball.bottom {
    right: 5.6rem;
    bottom: -15rem;
}