.content {
    display: grid;
    grid-template-columns: 60% 40%;
    /* Une ligne aura 11.4rem et le reste va prendre 1 fraction de ce qu'il reste */
    grid-template-rows: 11.4rem 1fr;

    /* Définit l'aire */
    grid-template-areas: 
    'header header'
    'left right'
}

header {
    grid-area: header;
}

#bg {
    grid-area: left;
    background: url('/assets/home-bg-image.svg') no-repeat top/contain;
}

main {
    grid-area: right;
    display: flex;
    align-items: center;
}

main .container {
    /* La fonction min da prioridade pro tamanho minimo, ele so vai pegar 100% se a tela for muito pequena e o 36,3% ultrapassar o taamanho da tela*/
    width: min(36.3rem 100%);
}

main h2 {
    font-family: 'Poppins', sans-serif;
    color: var(--black);
    font-size: clamp(20px, 5vw, 2.8rem);
    margin-bottom: 2.4rem;
}

input {
    border: .2rem solid var(--grey-blue);
    padding: 0 1.6rem;
}

input, button, .button {
    width: 100%;
    margin-bottom: 1.8rem;
}

