<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- VIEWPORT -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Sala - Rocket.Q</title>
    <!-- CSS -->
    <link rel="stylesheet" href="styles/global.css">
    <link rel="stylesheet" href="styles/home.css">
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;@500;700&display=swap" rel="stylesheet">
</head>
<body>
    <div id="home" class="content">
        <!-- Logo -->
        <header>
            <img src="images/logo.svg" alt="Rocket.Q logo"/>
        </header>

        <!-- Image background -->
        <div id="bg">
            <div class="ball top"></div>
            <div class="ball bottom"></div>
        </div>
    
        <!-- Parte direita do codigo -->
        <main>
            <div class="container">
               <!-- vai renderizar a parte correta de acordo com a URL : create-pass ou enter-room -->
               <%- include(`parts/${page}`) %>
            </div>
        </main>
    </div>   
</body>
</html>