<html>
    <head>
        <title> Senha incorreta </title>
        <script>
            alert("Senha incorreta");
            location.replace("/room/<%= roomId %>");
        </script>
    </head>
</html>