<section>
    <h2>Crie sua propria sala</h2>
    <form action="/create-room" method="POST">
        <label class="sr-only" for="room-pass">Insira uma senha</label>
        <input id="room-pass" type="password" name=password placeholder="Insira uma senha">
        <button>
            <img class="image-button" src="images/users-white.svg" alt="Entrar na sala">
            Criar sala
        </button>
    </form>
</section>